body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/* General */

h1 {
    color: dimgray;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h2 {
    color: dimgray;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.8rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.col {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

main {
    position: relative;
    top: 4rem;
}

.left {
    width: 60%;
    padding: 2rem 1.5rem;
    flex-grow: 1;
    flex-shrink: 1;
}

.right {
    width: 40%;
    flex-grow: 1;
    flex-shrink: 1;
}

.center {
    text-align: center;
}

/* HEADER */

header {
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: white;
}

header img {
    display: inline;
}

#logo {
    display: flex;
    margin-left: 1.5rem;
}

.logo {
    text-transform: uppercase;
    font-size: 1.5rem;
}

#colmar-logo {
    color: dimgrey;
    font-weight: 900;
}

#academy-logo {
    color: lightgrey;
    font-weight: 100;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.2rem;
}

header a {
    color: black;
    text-decoration: none;
}

.mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .desktop {
        display: none;
    }

    #logo {
        display: none;
    }
}


@media only screen and (min-width: 801px) {
    .mobile {
        display: none;
    }

    nav {
        height: 4rem;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right: 1.5rem;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Banner */

#learn {
    background-color: lightgray;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

#banner {
    width: 60%;
    height: auto;
    padding: 2rem 1.5rem;
}

#banner img {
    width: 100%;
    height: auto;
}

#description-banner {
    width: 40%;
    display: flex;
    justify-content: center;
}

button {
    padding: 0.5rem 4rem;
    background-color: dimgray;
    color: white;
    text-align: center;
    font: bold;
    font-size: 1.5rem;
    width: 20rem;
}

@media only screen and (max-width: 800px) {
    #learn {
        display: flex;
        flex-direction: column;
    }

    #banner {
        width: 100%;
        padding: 0;
    }

    #description-banner {
        width: 100%;
        padding: 0 1rem 2rem 1rem;
    }

    #description-banner h1 {
        padding: 2rem 0;
    }

    button {
        width: 90%;
        text-align: center;
        margin-top: 1.5rem;
    }
}


/* Practice */

#practice {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
}

#left-content {
    padding: 2rem 1.5rem;
}

#left-content img {
    width: 100%;
    height: auto;
}

.reference {
    font-weight: 600;
}

#right-content {
    width: 40%;
    padding-top: 2rem;
}

.bloc-border {
    border: 1px solid lightgray;
    margin: 1px 0;
    width: 100%;
}

#right-content .img-container {
    width: 35%;
    height: auto;
    padding: 1rem;
}

#right-content .text-container {
    width: 65%;
    height: auto;
    text-align: left;
    justify-content: center;
}

#right-content img {
    width: 100%;
    height: auto;
}

#right-content a {
    color: #28BFB2;
    text-decoration: none;
}

.grey {
    background-color: #d8d8d8;
}

@media only screen and (max-width: 800px) {
    #practice #left-content {
        display: none;
    }

    .col-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #right-content .img-container {
        width: 90%;
        height: auto;
        padding: 1rem;
    }
}    

/* Courses */

#courses {
    background-color: lightgray;
    padding: 2rem 3.5rem;
}

#container-courses {
    width: 100%;    
}

#up-row {
    margin: 2rem 0;
}

.row-course {
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.course {
    margin: 0rem 1rem;
    background-color: white;
    width: 30%;
}

#courses .img-container {
    width: 100%;
}

.course img {
    width: 100%;
    height: auto;
}

.content-course {
    margin: 1rem 1rem 1.5rem 1rem;
}

.content-course h3 {
    text-transform: uppercase;
    font-weight: lighter;
}

@media only screen and (max-width: 800px) {
    #container-courses-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #courses {
        background-color: whitesmoke;
        border: 1px lightgray solid;
    }

    #courses h1 {
        padding-bottom: 1rem;
    }

    #courses h2 {
        padding: 1rem 1rem 1.5rem 1rem;
        text-align: left;
        background-color: lightgray;
        margin: 0.5rem 0;
        width: 90%;
        font-size: 1.5rem;
    }
}    


/* Thesis */

#thesis h1 {
    padding: 2rem 0;
}

#thesis {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
}

#thesis-container {
    display: flex;
    flex-direction: row;
    padding: 0 0 2rem 1.5rem;
}

#thesis-col-left {
    width: 60%;
    margin-right: 1.5rem;
}

#thesis-col-left video {
    width: 100%;
}

#thesis-col-left h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

#thesis-col-right {
    width: 40%;
}

#thesis-col-right .img-container {
    width: 35%;
    height: auto;
    padding: 1rem;
}

#thesis-col-right img {
    width: 100%;
    height: auto;
}

#thesis-col-right .text-container {
    width: 65%;
    height: auto;
    text-align: left;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    #thesis h1 {
        padding: 2rem 0 1rem 0;
    }
}  

/* footer */

footer {
    border-top: 1px solid lightgray;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 4rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links a {
    text-decoration: none;
    color: black;
    margin-left: 1rem;
}