body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* General */

h1 {
    color: dimgray;
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h2 {
    color: dimgray;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    top: 4rem;
}

.left {
    width: 60%;
    padding: 2rem 1.5rem;
    flex-grow: 1;
    flex-shrink: 1;
}

.right {
    width: 40%;
    flex-grow: 1;
    flex-shrink: 1;
}

/* HEADER */

header {
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: white;
}

header img {
    display: inline;
}

#logo {
    display: flex;
    margin-left: 1.5rem;
}

.logo {
    text-transform: uppercase;
    font-size: 2rem;
}

#colmar-logo {
    color: dimgrey;
    font-weight: 900;
}

#academy-logo {
    color: lightgrey;
    font-weight: 100;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.5rem;
}

header a {
    color: black;
    text-decoration: none;
}

.mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .desktop {
        display: none;
    }

    #logo {
        display: none;
    }
}


@media only screen and (min-width: 801px) {
    .mobile {
        display: none;
    }

    nav {
        height: 4rem;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right: 1.5rem;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Banner */

#learn {
    background-color: lightgray;
    width: 100%;
    height: auto;
    display: flex;
}

#banner {
    width: 60%;
    height: auto;
    padding: 2rem 1.5rem;
}

#banner img {
    width: 100%;
    height: auto;
}

#description-banner {
    width: 40%;
    display: flex;
    justify-content: center;
}

button {
    padding: 0.5rem 4rem;
    background-color: dimgray;
    color: white;
    text-align: center;
    font: bold;
    font-size: 1.5rem;
    width: 20rem;
}

/* Practice */

#practice {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
}

#left-content {
    padding: 2rem 1.5rem;
}

#left-content img {
    width: 100%;
    height: auto;
}

.reference {
    font-weight: 600;
}

#right-content {
    width: 40%;
}

.bloc-border {
    border: 1px solid lightgray;
    margin: 1px 0;
    width: 100%;
}

#right-content .img-container {
    width: 35%;
    height: auto;
    padding: 1rem;
}

#right-content .text-container {
    width: 65%;
    height: auto;
    text-align: left;
    justify-content: center;
}

#right-content img {
    width: 100%;
    height: auto;
}

#right-content a {
    color: #28BFB2;
    text-decoration: none;
}

#grey {
    background-color: #d8d8d8;
}

/* Courses */

.center {
    text-align: center;
}

#courses {
    background-color: lightgray;
    width: 100%;
}

#container-courses {
    width: 100%;    
}

.row-course {
    width: 100%;
}

.course {
    margin: 2rem 2rem;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    width: 30%;
}

.course img {
    width: 100%;
}

.content-course {
    margin: 1rem 0 1.5rem 1rem;
}






video {
    width: 100%;
}